.box {
    block-size: 100%;
    display: flex;
    flex-direction: column;
}

.box > main {
    flex-grow: 1;
    max-inline-size: 120ch;
    margin-inline: auto;
    padding: .5rem 1rem;
}

.box > footer {
    padding: .5rem;
    color: var(--background);
    background-color: var(--accent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box > footer a {
    color: var(--primary-on-accent);
}

.box > footer img {
    max-height: 4ex;
}

.box > footer img[data-bg] {
    background-color: white;
}

.navbar {
    background-color: var(--accent);
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    font-weight: bold;
}

.navbar a {
    color: var(--background);
}
